@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&family=Syne:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #f3f5f8;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 80px;
  line-height: 80px;
  z-index: 111;
}

.logo {
  margin-left: 4.5em;
  display: flex;
  font-size: 40px;
  font-weight: 800;
  color: #3d535f;
  letter-spacing: 3px;
  cursor: pointer;
  text-transform: uppercase;
}
.logo a {
  text-decoration: none;
  color: #3d535f;
}

b {
  font-size: 50px;
  color: #fa7a3d;
}

.navItems {
  display: flex;
}
.navItems li {
  list-style: none;
  margin: 0 15px;
}
.navItems li a {
  font-size: 25px;
  color: #3d535f;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: capitalize;
}
.navItems li :hover {
  color: #fa7a3d;
}

.soc-med {
  margin-right: 4.5em;
  display: flex;
}
.soc-med li {
  list-style: none;
  margin: 0 10px;
}
.soc-med li a img {
  width: 25px;
  height: 25px;
}

.wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  overflow: hidden;
}

.cols {
  width: 50%;
}

.topline {
  display: block;
  position: relative;
  font-size: 35px;
  letter-spacing: 5px;
  color: #3d535f;
}
.topline ::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 45px;
  bottom: 10px;
  background-color: #f957ed;
}

h1 {
  display: block;
  font-size: 3.5em;
  font-weight: 900;
  color: #3d535f;
}

.multiText {
  color: #fa7a3d;
  text-transform: capitalize;
}

p {
  display: block;
  width: 85%;
  font-size: 1em;
  color: #3d535f;
}

.btn {
  margin: 2em 0;
}
.btn button {
  cursor: pointer;
  color: #f3f5f8;
  width: 130px;
  height: 40px;
  background-color: #fa7a3d;
  padding: 0.5em;
  border-style: none;
  border-radius: 20px;
  text-transform: capitalize;
}
.btn button a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #f3f5f8;
}

.imgbox {
  position: relative;
  width: 100%;
  height: 100%;
}
.imgbox img {
  position: relative;
  height: 100%;
  width: calc(140% - 80px);
  top: 10px;
  right: 40px;
  margin-top: 3em;
  -webkit-animation: animateUser 4s linear infinite;
          animation: animateUser 4s linear infinite;
}
@-webkit-keyframes animateUser {
  50% {
    right: 75px;
    top: 2px;
  }
}
@keyframes animateUser {
  50% {
    right: 75px;
    top: 2px;
  }
}
.imgbox #splash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-10deg);
  width: 160%;
  filter: saturate(200%);
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}
@-webkit-keyframes animate {
  50% {
    top: 49%;
    width: 155%;
    left: 51%;
  }
}
@keyframes animate {
  50% {
    top: 49%;
    width: 155%;
    left: 51%;
  }
}/*# sourceMappingURL=style.css.map */