// Variables
/* --- Color Gradient ---*/
$gradient-onyx: linear-gradient(
  to bottom right,
  hsl(240, 1%, 25%) 3%,
  hsl(0, 0%, 19%) 97%
);

$gradient-jet: linear-gradient(
    to bottom right,
    hsla(240, 1%, 18%, 0.251) 0%,
    hsla(240, 2%, 11%, 0) 100%
  ),
  hsl(240, 2%, 13%);

$gradient-yellow-1: linear-gradient(
  to bottom right,
  hsl(45, 100%, 71%) 0%,
  hsla(36, 100%, 69%, 0) 50%
);

$gradient-yellow-2: linear-gradient(
    135deg,
    hsla(45, 100%, 71%, 0.251) 0%,
    hsla(35, 100%, 68%, 0) 59.86%
  ),
  hsl(240, 2%, 13%);

$border-gradient-onyx: linear-gradient(
  to bottom right,
  hsl(0, 0%, 25%) 0%,
  hsla(0, 0%, 25%, 0) 50%
);

$text-gradient-yellow: linear-gradient(
  to right,
  hsl(45, 100%, 72%),
  hsl(35, 100%, 68%)
);

/*--- Solid ---*/
$jet: hsl(0, 0%, 22%);

$onyx: hsl(240, 1%, 17%);

$eerie-black-1: hsl(240, 2%, 13%);

$eerie-black-2: hsl(240, 2%, 12%);

$smoky-black: hsl(0, 0%, 7%);

$white-1: hsl(0, 0%, 100%);

$white-2: hsl(0, 0%, 98%);

$orange-yellow-crayola: hsl(45, 100%, 72%);

$vegas-gold: hsl(45, 54%, 58%);

$light-gray: hsl(0, 0%, 84%);

$light-gray-70: hsla(0, 0%, 84%, 0.7);

$bittersweet-shimmer: hsl(0, 43%, 51%);

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*--- Font Family ---*/
$font-family-poppins: "Poppins", sans-serif;

:root {
  /*--- Font Size ---*/
  --fs-11: 11px;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-17: 17px;
  --fs-18: 18px;
  --fs-24: 24px;

  // Shadows
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
}

/*--- Font Weight ---*/
$fw-thin-300: 300;
$fw-regular-400: 400;
$fw-medium-500: 500;
$fw-semibold-600: 600;
$fw-bold-700: 700;

// Transitions
$transition-25: 0.25s ease;
$transition-5: 0.5s ease-in-out;

/* ------------------------------------
Reset Global
---------------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
ion-icon,
a,
button,
time,
span {
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input,
textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

::selection {
  background: $orange-yellow-crayola;
  color: $smoky-black;
}

:focus {
  outline-color: $orange-yellow-crayola;
}

html {
  font-family: $font-family-poppins;
}

body {
  background: $smoky-black;
}

/* ------------------------------------
Reused Style
---------------------------------------*/

.sidebar,
article {
  background: $eerie-black-2;
  border: 1px solid $jet;
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.separator {
  width: 100%;
  height: 1px;
  background: $jet;
  margin: 16px 0;
}

.icon-box {
  position: relative;
  background: $border-gradient-onyx;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-16);
  color: $orange-yellow-crayola;
  box-shadow: var(--shadow-1);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: $eerie-black-1;
    border-radius: inherit;
    z-index: -1;
  }

  ion-icon {
    --ion-icon-stroke-width: 35px;
  }
}

article {
  display: none;

  &.active {
    display: block;
    animation: fade 0.5s ease backwards;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.h2,
.h3,
.h4,
.h5 {
  color: $white-2;
  text-transform: capitalize;
}

.h2 {
  font-size: var(--fs-24);
}

.h3 {
  font-size: var(--fs-18);
}

.h4 {
  font-size: var(--fs-16);
}

.h5 {
  font-size: var(--fs-13);
  font-weight: $fw-medium-500;
}

.article-title {
  position: relative;
  padding-bottom: 7px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: $text-gradient-yellow;
    border-radius: 3px;
  }
}

.has-scrollbar {
  &::-webkit-scrollbar {
    width: 5px; /* for vertical scrollbar */
    height: 5px; /* for horizontal scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: $onyx;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $orange-yellow-crayola;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-button {
    width: 20px;
  }
}

.content-card {
  position: relative;
  background: $border-gradient-onyx;
  padding: 15px;
  padding-top: 45px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  cursor: pointer;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: $gradient-jet;
    border-radius: inherit;
    z-index: -1;
  }
}

/* ------------------------------------
Main
---------------------------------------*/
main {
  margin: 15px 12px;
  margin-bottom: 75px;
  min-width: 259px;
}

/* ------------------------------------
Sidebar
---------------------------------------*/
.sidebar {
  margin-bottom: 15px;
  max-height: 112px;
  overflow: hidden;
  transition: $transition-5;

  &.active {
    max-height: 405px;
  }
}

.sidebar-info {
  position: relative;
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.flip-avatar {
  position: relative;
  width: 85px;
  height: 85px;
}

.avatar-box {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;

  &:hover {
    transform: rotateY(180deg);
  }
}

.front-avatar {
  position: absolute;
  background: $gradient-onyx;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  overflow: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 80px;
    padding-top: 15px;
  }
}

.back-avatar {
  position: absolute;
  background: $gradient-onyx;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  overflow: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);

  img {
    width: 80px;
    padding-top: 15px;
  }
}

.info-content .name {
  color: $white-2;
  font-size: var(--fs-17);
  font-weight: $fw-medium-500;
  letter-spacing: -0.25px;
  margin-bottom: 10px;
}

.info-content .title {
  color: $white-1;
  background: $onyx;
  font-size: var(--fs-11);
  font-weight: $fw-thin-300;
  width: max-content;
  padding: 3px 12px;
  border-radius: 8px;
}

.info-more-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 0 15px;
  font-size: var(--fs-13);
  color: $orange-yellow-crayola;
  background: $border-gradient-onyx;
  padding: 10px;
  box-shadow: var(--shadow-2);
  transition: $transition-25;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: $gradient-jet;
    transition: $transition-25;
    z-index: -1;
  }

  &:hover,
  &:focus {
    background: $gradient-yellow-1;
  }

  &:hover::before,
  &:focus::before {
    background: $gradient-yellow-2;
  }

  span {
    display: none;
  }
}

.sidebar-info-more {
  opacity: 0;
  visibility: hidden;
  transition: $transition-5;
}

.sidebar.active .sidebar-info-more {
  opacity: 1;
  visibility: visible;
}

.contact-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.contact-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-info {
  max-width: calc(100% - 46px);
  width: calc(100% - 46px);

  :is(.contact-link, time, address) {
    color: $white-2;
    font-size: var(--fs-13);
  }

  address {
    font-style: normal;
  }
}

.contact-title {
  color: $light-gray-70;
  font-size: var(--fs-11);
  text-transform: uppercase;
  margin-bottom: 2px;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-bottom: 4px;
  padding-left: 7px;
}

.social-item {
  .social-link {
    color: $light-gray-70;
    font-size: var(--fs-18);

    &:hover {
      color: $light-gray;
    }
  }
}

/* ------------------------------------
Navbar
---------------------------------------*/
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: hsla(240, 1%, 17%, 0.75);
  backdrop-filter: blur(10px);
  border: 1px solid $jet;
  border-radius: 12px 12px 0 0;
  box-shadow: var(--shadow-2);
  z-index: 999;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.navbar-link {
  color: $light-gray;
  font-size: var(--fs-11);
  padding: 20px 7px;
  transition: color $transition-25;

  &:hover,
  &:focus {
    color: $light-gray-70;
  }

  &.active {
    color: $orange-yellow-crayola;
  }
}

/* ------------------------------------
About
---------------------------------------*/
// .about {
//     .article-title {
//         margin-bottom: 15px;

//         &::after {
//             top: 40%;
//         }
//     }
// }
.about-header {
  margin-bottom: 15px;
}

.profile-box {
  position: relative;
  width: 150px;
  height: 120px;
  overflow: hidden;
  background: $gradient-onyx;
  border-radius: 20px;
}

.profile {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  img {
    width: 110px;
  }
}

.about-text {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: $light-gray;
  font-size: var(--fs-14);
  font-weight: $fw-thin-300;
  line-height: 1.6;

  p {
    width: fit-content;
    margin-bottom: 15px;
  }
}

// -------- Service --------
.service {
  margin-bottom: 35px;
}

.service-title {
  margin-bottom: 20px;
}

.service-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.service-item {
  position: relative;
  background: $gradient-onyx;
  padding: 20px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: $gradient-jet;
    border-radius: inherit;
    z-index: -1;
  }
}

.service-icon-box {
  margin-bottom: 10px;

  img {
    width: 50px;
    margin: auto;
  }
}

.service-content-box {
  text-align: center;
}

.service-item-title {
  margin-bottom: 7px;
}

.service-item-text {
  color: $light-gray;
  font-size: var(--fs-14);
  font-weight: $fw-thin-300;
  line-height: 1.6;
}

// -------- Testimonial --------

// -------- Testimonial Modal --------

// -------- Clients --------

/* ------------------------------------
Resume
---------------------------------------*/
.article-title {
  margin-bottom: 30px;
}

// -------- education - experience - setificate --------
.timeline {
  margin-bottom: 30px;

  .title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
  }
}

.timeline-list {
  font-size: var(--fs-14);
  margin-left: 45px;

  span {
    color: $vegas-gold;
    font-weight: $fw-regular-400;
    line-height: 1.6;
  }
}

.timeline-item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;

    &::before {
      content: "";
      position: absolute;
      top: -25px;
      left: -30px;
      width: 1px;
      height: calc(100% + 50px);
      background: $jet;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -33px;
    height: 6px;
    width: 6px;
    background: $text-gradient-yellow;
    border-radius: 50%;
    box-shadow: 0 0 0 4px $jet;
  }
}

.timeline-item-title {
  display: contents;
  font-size: var(--fs-14);
  line-height: 1.3;
  margin-bottom: 7px;

  span {
    font-style: italic;
    font-weight: $fw-bold-700;
    color: $vegas-gold;
    font-size: var(--fs-14);
  }
}

.work-list {
  font-size: var(--fs-14);
  margin-left: 35px;
  margin-top: 10px;
}

.work-item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: -30px;
      width: 1px;
      height: calc(100% + 30px);
      background: $jet;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -33px;
    height: 6px;
    width: 6px;
    background: $text-gradient-yellow;
    border-radius: 50%;
    box-shadow: 0 0 0 4px $jet;
  }
}

.timeline-text {
  color: $light-gray;
  font-weight: $fw-thin-300;
  line-height: 1.6;
}

// -------- skills --------
.skills {
  margin-bottom: 15px;
}

.skills-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  margin: 0 -15px;
  padding: 25px;
  padding-bottom: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 25px;
}

.skills-item {
  min-width: 45%;
  scroll-snap-align: start;

  img {
    width: 100%;
    filter: grayscale(1);
    transition: $transition-25;

    &:hover {
      filter: grayscale(0);
    }
  }
}

.skills-text {
  font-size: var(--fs-13);
  margin-top: 15px;
  text-align: center;
}

/* ------------------------------------
Portfolio
---------------------------------------*/
.filter-list {
  display: none;
}

.filter-select-box {
  position: relative;
  margin-bottom: 25px;
}

.filter-select {
  background: $eerie-black-2;
  color: $light-gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid $jet;
  border-radius: 14px;
  font-size: var(--fs-14);
  font-weight: $fw-thin-300;

  &.active .select-icon {
    transform: rotate(0.5turn);
  }
}

.select-list {
  background: $eerie-black-2;
  position: absolute;
  top: calc(100% + 6px);
  width: 100%;
  padding: 6px;
  border: 1px solid $jet;
  border-radius: 14px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in-out;
}

.filter-select.active + .select-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.select-item {
  button {
    background: $eerie-black-2;
    color: $light-gray;
    font-size: var(--fs-14);
    font-weight: $fw-thin-300;
    text-transform: capitalize;
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;

    &:hover {
      $eerie-black-3: hsl(240, 2%, 20%);
      background: $eerie-black-3;
    }
  }
}

.project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 10px;
}

.project-item {
  display: none;

  &.active {
    display: block;
    animation: scaleUp 0.25s ease forwards;
  }

  > a {
    width: 100%;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.project-img {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    transition: $transition-25;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: $transition-25;
  }
}

.design {
  &::before {
    z-index: -1;
  }

  img {
    transition: $transition-25;
    transform: scale(1);

    &:hover {
      transform: scale(1.2);
    }
  }
}

.project-item > a:hover .project-img::before {
  background: hsla(0, 0%, 0%, 0.5);
}

.project-item-icon-box {
  $scale: 0.8;

  background: $jet;
  color: $orange-yellow-crayola;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale($scale);
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: $transition-25;

  ion-icon {
    --ionicon-stroke-width: 50px;
  }
}

.project-item > a:hover .project-item-icon-box {
  $scale: 1;
  opacity: 1;
}

.project-item > a:hover img {
  transform: scale(1.1);
}

.project-title,
.project-category {
  margin-left: 10px;
}

.project-title {
  color: $white-2;
  font-size: var(--fs-15);
  font-weight: $fw-regular-400;
  text-transform: capitalize;
  line-height: 1.3;
}

.project-category {
  color: $light-gray-70;
  font-size: var(--fs-14);
  font-weight: $fw-thin-300;
}

/* ------------------------------------
Contact
---------------------------------------*/
.mapbox {
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 30px;
  border: 1px solid $jet;
  overflow: hidden;

  figure {
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    filter: grayscale(1) invert(1);
  }
}

.contact-form {
  margin-bottom: 10px;
}

.form-title {
  margin-bottom: 20px;
}

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.form-input {
  color: $white-2;
  font-size: var(--fs-14);
  font-weight: $fw-regular-400;
  padding: 13px 20px;
  border: 1px solid $jet;
  border-radius: 14px;
  outline: none;

  &::placeholder {
    font-weight: $fw-medium-500;
  }

  &:focus {
    border-color: $orange-yellow-crayola;

    &:invalid {
      border-color: $bittersweet-shimmer;
    }
  }
}

textarea {
  &.form-input {
    min-height: 100px;
    height: 120px;
    max-height: 200px;
    resize: vertical;
    margin-bottom: 25px;

    &::-webkit-resizer {
      display: none;
    }
  }
}

.form-btn {
  position: relative;
  width: 100%;
  background: $border-gradient-onyx;
  color: $orange-yellow-crayola;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  border-radius: 14px;
  font-size: var(--fs-14);
  text-transform: capitalize;
  box-shadow: var(--shadow-3);
  z-index: 1;
  transition: $transition-25;

  &::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: $gradient-jet;
    border-radius: inherit;
    z-index: -1;
    transition: $transition-25;
  }

  ion-icon {
    font-size: var(--fs-16);
  }

  &:hover {
    background: $gradient-yellow-1;

    &::before {
      background: $gradient-yellow-2;
    }
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;

    &:hover {
      background: $border-gradient-onyx;

      &::before {
        background: $gradient-jet;
      }
    }
  }
}

.content-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;

  p {
    color: $white-1;
    display: ruby;
  }
}

/* ------------------------------------
Responsive
---------------------------------------*/
// responsive max 365px screen
@media screen and (max-width: 365px) {
  // SIDEBAR
  .sidebar {
    max-height: 135px;

    &.active {
      max-height: 420px;
    }
  }

  .info-content {
    .title {
      width: auto;
    }
  }
}

// responsive max 320px screen
@media screen and (max-width: 375px) {
  // ABOUT
  .about-text {
    flex-direction: column;
  }

  .profile-box {
    margin: auto;
    width: 100px;
    height: 100px;
  }

  .profile {
    img {
      width: 100px;
    }
  }
}

// responsive larger than 450px screen
@media screen and (min-width: 450px) {
  // SKILLS
  .skills-item {
    min-width: calc(33.33% - 10px);
  }

  // PORTFOLIO
  .project-img {
    height: auto;
  }
}

// responsive larger than 580px screen
@media screen and (min-width: 580px) {
  // CUSTOM PROPERTY VARIABLES

  // font size
  :root {
    --fs-11: 12px;
    --fs-13: 15px;
    --fs-14: 15px;
    // --fs-15: 15px;
    --fs-16: 18px;
    --fs-17: 26px;
    --fs-18: 24px;
    --fs-24: 32px;
  }

  // reused style
  .sidebar,
  article {
    width: 520px;
    margin-inline: auto;
    padding: 30px;
  }

  .article-title {
    font-weight: $fw-semibold-600;
    padding-bottom: 15px;

    &::after {
      width: 40px;
      height: 5px;
    }
  }

  .icon-box {
    width: 48px;
    height: 48px;
  }

  // MAIN
  main {
    margin-top: 60px;
    margin-bottom: 100px;
  }

  // SIDEBAR
  .sidebar {
    max-height: 180px;
    margin-bottom: 30px;

    &.active {
      max-height: 584px;
    }
  }

  .sidebar-info {
    gap: 25px;
  }

  .flip-avatar {
    width: 130px;
    height: 130px;
  }

  .avatar-box {
    border-radius: 30px;

    img {
      width: 120px;
    }
  }

  .front-avatar {
    border-radius: 30px;
  }

  .back-avatar {
    border-radius: 30px;
  }

  .info-content {
    .name {
      margin-bottom: 15px;
    }

    .title {
      padding: 5px 18px;
    }
  }

  .info-more-btn {
    top: -30px;
    right: -30px;
    padding: 10px 15px;

    span {
      display: block;
      font-size: var(--fs-11);
    }

    ion-icon {
      display: none;
    }
  }

  .separator {
    margin: 32px 0;
  }

  .contact-list {
    gap: 20px;
  }

  .contact-info {
    max-width: calc(100% - 64px);
    width: calc(100% - 64px);
  }

  // NAVBAR
  .navbar {
    border-radius: 20px 20px 0 0;
  }

  .navbar-list {
    gap: 20px;
  }
  .navbar-link {
    --fs-11: 14px;
  }

  // ABOUT
  .about {
    .article-title {
      margin-bottom: 20px;
    }
  }

  .about-text {
    margin-bottom: 40px;
  }

  // service
  .service-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
    padding: 30px;
  }

  .service-icon-box {
    margin-bottom: 0;
    margin-top: 5px;
  }

  .service-content-box {
    text-align: left;
  }

  // RESUME
  .timeline-list {
    margin-left: 65px;
  }

  .timeline-item {
    &:not(:last-child) {
      &::before {
        left: -40px;
      }
    }

    &::after {
      height: 8px;
      width: 8px;
      left: -43px;
    }
  }

  .skills-list {
    gap: 50px;
    margin: 0 -30px;
    padding: 45px;
    scroll-padding-inline: 45px;
  }

  .skills-item {
    min-width: calc(33.33% - 35px);
  }

  // PORTFOLIO
  .project-img {
    border-radius: 16px;
  }

  // CONTACT
  .mapbox {
    height: 380px;
    border-radius: 18px;
  }

  .input-wrapper {
    gap: 30px;
    margin-bottom: 30px;
  }

  .form-input {
    padding: 15px 20px;
  }

  textarea {
    &.form-input {
      margin-bottom: 30px;
    }
  }

  .form-btn {
    --fs-14: 16px;
    padding: 16px 20px;

    ion-icon {
      font-size: 18px;
    }
  }
}

// responsive larger than 768px screen
@media screen and (min-width: 768px) {
  // Reused Style
  .sidebar,
  article {
    width: 700px;
  }

  .has-scrollbar {
    &::-webkit-scrollbar-button {
      width: 100px;
    }
  }

  // SIDEBAR
  .contact-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px 15px;
  }

  // NAVBAR
  .navbar-link {
    --fs-11: 15px;
  }

  // ABOUT
  .profile-box {
    width: 180px;
    height: 140px;
  }

  .profile {
    img {
      width: 140px;
    }
  }

  // PORTFOLIO
  .article-title {
    padding-bottom: 20px;
  }

  .filter-select-box {
    display: none;
  }

  .filter-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding-left: 5px;
    margin-bottom: 30px;
  }

  .filter-item {
    button {
      color: $light-gray;
      font-size: var(--fs-15);
      transition: $transition-25;

      &:hover {
        color: $light-gray-70;
      }

      &.active {
        color: $orange-yellow-crayola;
      }
    }
  }

  // project
  .project-list {
    grid-template-columns: 1fr 1fr;
  }

  // CONTACT
  .input-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .form-btn {
    width: max-content;
    margin-left: auto;
  }
}

// responsive larger than 1024px screen
@media screen and (min-width: 1024px) {
  // Custom Property
  :root {
    // Shadow
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
  }

  // Reused Style
  .sidebar,
  article {
    width: 950px;
    box-shadow: var(--shadow-5);
  }

  // MAIN
  main {
    margin-bottom: 60px;
  }

  .main-content {
    position: relative;
    width: max-content;
    margin: auto;
  }

  // NAVBAR
  .navbar {
    position: absolute;
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    width: max-content;
    border-radius: 0 20px;
    padding: 0 20px;
    box-shadow: none;
  }

  .navbar-list {
    gap: 30px;
    padding: 0 20px;
  }

  .navbar-link {
    font-weight: $fw-medium-500;
  }

  // ABOUT
  // profile
  .profile-box {
    width: 200px;
    height: 170px;
  }

  .profile {
    img {
      width: 170px;
    }
  }

  // Service
  .service-list {
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
  }

  // RESUME
  .skills-item {
    min-width: calc(25% - 38px);
  }

  // PORTFOLIO
  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

// responsive larger than 1250px screen
@media screen and (min-width: 1250px) {
  // RESET
  body {
    &::-webkit-scrollbar {
      width: 20px;
    }

    &::-webkit-scrollbar-track {
      background: $smoky-black;
    }

    &::-webkit-scrollbar-thumb {
      border: 5px solid $smoky-black;
      background: hsla(0, 0%, 100%, 0.1);
      border-radius: 20px;
      box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
        inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);

      &:hover {
        background: hsla(0, 0%, 100%, 0.15);
      }
    }

    &::-webkit-scrollbar-button {
      height: 60px;
    }
  }

  // Reused Style
  .sidebar,
  article {
    width: auto;
  }

  article {
    min-height: 100%;
  }

  // MAIN
  main {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
  }

  .main-content {
    min-width: 75%;
    width: 75%;
    margin: 0;
  }

  // SIDEBAR
  .sidebar {
    position: sticky;
    top: 60px;
    max-height: max-content;
    height: 100%;
    margin-bottom: 0;
    padding-top: 60px;
    z-index: 1;
  }

  .sidebar-info {
    flex-direction: column;
  }

  .flip-avatar {
    width: 175px;
    height: 175px;
  }

  .avatar-box {
    img {
      width: 150px;
    }
  }

  .front-avatar {
    border-radius: 40px;
  }

  .back-avatar {
    border-radius: 40px;
  }

  .info-content {
    .name {
      // white-space: nowrap;
      text-align: center;
    }

    .title {
      margin: auto;
    }
  }

  .info-more-btn {
    display: none;
  }

  .sidebar-info-more {
    opacity: 1;
    visibility: visible;
  }

  .contact-list {
    grid-template-columns: 1fr;
  }

  .contact-info {
    :is(.contact-link) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    :is(.contact-link, time, address) {
      --fs-13: 14px;
      font-weight: $fw-thin-300;
    }
  }

  .separator {
    &:last-of-type {
      margin: 15px 0;
      opacity: 0;
    }
  }

  .social-list {
    justify-content: center;
  }

  // RESUME
  .timeline-text {
    max-width: 700px;
  }
}
